<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configuration>
    <connectionStrings>
      <add name="dbconnection" connectionString="Data Source=LAPTOP-R7AE0INK\MSSQLSERVER2017;Initial Catalog=JOB_PORTAL_DB;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  </configuration>
</configuration>