<h2>Apply</h2>

<div>
    <h4>CompanyJobDescriptionPoco</h4>
    <hr />
    <table class="table">
        <tr>
            <td>Short description about yourself in 50 words</td>
            <td><textarea class="message" cols="4" rows="4"></textarea></td>
        </tr>
        <tr>
            <td>Upload Resume</td>
            <td><input type="file" name="resume" value="upload" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" class="btn btn-primary" value="Submit" /></td>
        </tr>
    </table>
</div>

